details { /* Set the details tag position so it can be oriented relative to */
  position: relative;
}
details > summary::-webkit-details-marker { /* Remove the default up/down arrow */
display: none;
}
details > summary::after { /* Replace the default arrow with text */
  content: "+ Read more";
}
details[open] > summary::after { /* When details are expanded, move readmore to bottom and change text */
  position: absolute;
  top: calc(100% + 1rem);
  content: "- Read less";
}
details[open] { /* Adjust the margins of expanded details field to accommodate readless */
  margin-bottom: 2em;
}